body{
    background-color: black;
}

section{
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background-image: url("../assets/background.png");
    background-size: cover;
    margin: auto;
    margin-top: 150px;
    font-family: Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li#instagram{
    list-style-image: url("../assets/Insta.png");
}

li#twitter{
    list-style-image: url("../assets/Twitter.png");
}

li#youtube{  
    list-style-image: url("../assets/Youtube.png");
}